.resend-code-input {
  padding-left: 20px;
  letter-spacing: 26px;
  border: 0;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 35px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 228px;
  min-width: 220px;
  background-color: #f0f5f7;
}

.cancel-button {
  text-align: center;
  margin-top: 15px;
  color: #f05454;
  font-weight: bolder;
  cursor: pointer;
}

.divOuter {
  width: 210px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.divInner {
  left: 0;
  position: sticky;
}

.continue-button {
  display: flex;
  justify-content: center;
}
// .form-control {
//   height: 15px;
// }
