.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #ffffff;
  margin-bottom: 100px;
}

table {
  overflow-y: scroll;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  font-size: 13px;
}

th {
  font-weight: bolder;
  font-size: 14px;
}

td {
  background-color: #fff;
  font-size: 12px;
}

/* form {
  display: flex;
  gap: 5px;
} */

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.table-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
